@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #020617;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --breakpoint-xs: 370px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mobile-nav: oklch(0.2562 0.0764 268.08);
  --font-rondbox: var(--font-rondbox), sans-serif;
  --font-ovo: var(--font-ovo), serif;
  --font-outfit: var(--font-outfit);
  --font-inter: var(--font-inter);
}
