@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #020617;

}

@custom-variant dark (&:where(.dark, .dark *));

@utility gradient-circle {
  background: 
  radial-gradient(circle at 18% 18%,rgba(255,255,255,0.78) 0px, rgba(255,255,255,0) 34%),
  linear-gradient(135deg, rgb(248,255,242) 0%,rgb(215,244,200) 46%,rgb(136,207,141) 100%)
}

@theme inline {
  --breakpoint-xs: 370px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mobile-nav: oklch(0.2562 0.0764 268.08);
  --font-rondbox: var(--font-rondbox), sans-serif;
  --font-ovo: var(--font-ovo), serif;
  --font-outfit: var(--font-outfit);
  --font-inter: var(--font-inter);
}
